.clearBtn{
  display: flex;
  flex-direction: column;

}
 .input{
  width: 790px;
} 

/* Label'ın rengini değiştirecek stil kuralları */
.inputWrapper label {
  color: white;/* Dilediğiniz renk kodunu buraya yazın */
}
